@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-light-1-1:#ffffff;
    --cor-light-1-2:#FFDFC4;
    --cor-light-1-3:#F49EA7;

    --cor-dark-1-1:#57383B;
    --cor-dark-1-2:#ab6d74; /*#ce858d*/
    --cor-dark-1-3:#432426;
    --cor-dark-1-4:#D1888F;

    --background-light: linear-gradient(90deg, var(--cor-light-1-2), var(--cor-light-1-3), var(--cor-light-1-2));
    --background-dark: linear-gradient(90deg, var(--cor-dark-1-1), var(--cor-dark-1-2), var(--cor-dark-1-1) )
}

* {
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background: var(--background-light);
    height: 100vh; /*ainda não entendi p que serve, mas qnd coloquei completou todo background*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.6s;
}


#lado_esq {
    position: absolute;
    width:55%;
    z-index: 1;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    margin-top: 30px;
    justify-content: center;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size:18px;
    transition: 0.3s;
}

a:hover {
    transform: scale(1.08);
    font-size: 20px;
}

#intro {
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 200px;
    left: 95px;
}

#title {
    font-size: 40px;
    font-weight: bolder;
}

#sub_title {
    text-indent: 10px;
    font-weight: normal;
    font-size: 25px;
}

img {
   width: 40%;
   margin-top: 50px;
}

#cad_spc {
    position: relative;
    background: var(--cor-light-1-1);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    left: 447px;
    border-radius: 20px 0 0 20px;
}

h2 {
    font-size: 30px;
}

.header_cab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px 0 15px 0; 
}

#nasc_gen {
    position: relative;
}

#tenho_conta {
    color: var(--cor-light-1-3);
    font-size: 15px; 
    transition: 0.3s;
    text-decoration: none;
}

#tenho_conta:hover {
    transform: scale(1.05);
    font-size: 17px;
}

#login_esp {
    position: relative;
    background: var(--cor-light-1-1);
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 65%;
    border-radius: 20px;
    transition: 0.6s;
}

#header_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 50px 0 15px 0; 
}

#header_login h2:hover{
    cursor: default;
}

#img_box {
    position: absolute;
    width: 250px;
    top: -110px;
    right: 55px;
}

#img_box img{
    width: 80%;
    height: 100%;
    object-fit: cover;
}

#moon_icon {
    position: absolute;
    right: 40px;
    top: 30px;
    width: px;
}

#moon_icon:hover{
    cursor: pointer;
}

#opc_login{
    display: flex;
    justify-content: center;
    gap: 40px;
    /*poderia usar "justify-content: space-around;"  pra arrumar os links também*/
}

#opc_login img {
    width: 70px;
    transition: 0.2s;
}

#opc_login img:hover {
    transform: scale(1.10);
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 0 40px 0 40px;
    font-size: 18px;
}

.input_field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid var(--cor-light-1-3);
} 

.input_field input {
    border: none;
    background-color: transparent;
    width: 250px;
    padding: 0px 5px;
    font-size: 18px;
}

.input_caixa{
    transition: 0.3s;
}

.input_caixa:hover{
    transform: scale(1.05);
}

.input_field input:focus{
    outline: none;
}

#botao {
    display: flex;
    padding: 0 40px;
    justify-content: center;
    margin-top: 15px;
}

#button {
    padding: 8px 220px;
    border: none;
    border-radius: 15px;
    background: var(--cor-light-1-3);
    color: var(--cor-light-1-1);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
}



#button:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px rgba(148, 146, 146, 0.4);
}

.dark#container {
    background: var(--background-dark);
    transition: 0.6s;
}

.dark#login_esp {
    background: var(--cor-dark-1-3);
    color: var(--cor-light-1-1);
    transition: 0.6s;
}